# A Visual Representation of COS Ambassador Data 
----
### Center for Open Science Ambassadors are a global network of over 200 advocates increasing conversations around open science and promoting open science initiatives.

### **Getting Started** 

On Mac OS, I created a virtual environment called **mapping** using Conda. 

* conda create -n **mapping**

* source activate **mapping**

-----
#### **Programs to Install and Run (you may require more)** 


* Matplotlib

* Pandas

* Numpy

* Basemap

* Geopy

* Folium

In [ ]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json

In [ ]:
df = pd.read_csv('ambassadors_list.csv')

df.head()

In [3]:
df.tail()

,First Name,Last Name,Email,City,State,Country,Region,Institution/Organization,Domain,Mailing Address,Prereg Challenge,ambassador training date
222,Mathew,Vis-Dunbar,mathew.vis-dunbar@ubc.ca,Kelowna,British Columbia,Canada,North America,University of British Columbia - Okanagan Campus,Libraries,NaN,NaN,04/04/18
223,Jan,Röer,jan.roeer@uni-wh.de,Witten,NaN,Germany,Europe,Witten/Herdecke University,Experimental Psychology,NaN,NaN,04/20/18
224,Etienne,Roesch,e.b.roesch@reading.ac.uk,NaN,Reading,England,Europe,University of Reading,Cognitive Science,NaN,NaN,04/25/18
225,Stacy,Winchester,winches2@mailbox.sc.edu,Columbia,South Carolina,USA,North America,University of South Carolina,Libraries,NaN,NaN,07/17/18
226,Jamie,Bedics,jbedics@callutheran.edu,Thousand Oaks,California,USA,North America,Cal Lutheran University,Libraries,NaN,NaN,07/18/18

After examining my data, I want to drop columns that I know won't be useful for my analyses. 
I don't need information like name, email, mailing address. I use the Pandas .drop() function. 
I create a variable, drop_columns, and set it equal to the column names I want to remove. 
Inside the .drop() function. Passing the variable to the columns parameter is more intuitive and inplace means that the changes will be made directly into our object.

In [4]:
drop_columns = ['First Name', 'Last Name', 'Email', 'Mailing Address', 'Prereg Challenge']

df.drop(columns=drop_columns, inplace=True)

df.head()

,City,State,Country,Region,Institution/Organization,Domain,ambassador training date
0,Bonn,NaN,Germany,Europe,MPI Collective Goods,Psychology,2/3/15
1,Eindhoven,NaN,Netherlands,Europe,Eindhoven,Psychology,2/3/15
2,Grenoble,NaN,France,Europe,Université Grenoble Alpes,Psychology,2/3/15
3,Riverside,California,USA,North America,University of California - Riverside,Psychology,2/3/15
4,Tacoma,Washington,USA,North America,Pacific Lutheran,Psychology,2/3/15

I want to rename some columns. Institution/Organization to Organization and ambassador training date to 'Training Date'

In [5]:
df.rename(columns={'Institution/Organization': 'Organization', 'ambassador training date': 'Training Date'}, inplace=True)
df.head()

,City,State,Country,Region,Organization,Domain,Training Date
0,Bonn,NaN,Germany,Europe,MPI Collective Goods,Psychology,2/3/15
1,Eindhoven,NaN,Netherlands,Europe,Eindhoven,Psychology,2/3/15
2,Grenoble,NaN,France,Europe,Université Grenoble Alpes,Psychology,2/3/15
3,Riverside,California,USA,North America,University of California - Riverside,Psychology,2/3/15
4,Tacoma,Washington,USA,North America,Pacific Lutheran,Psychology,2/3/15

I want to look at some information including how each value in our table is classified (i.e. object type, float type). To do so, I can use the .info() function to gather some information on our table. .dtypes will also give us this information, but only on what our object types are.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 7 columns):
City             217 non-null object
State            139 non-null object
Country          226 non-null object
Region           225 non-null object
Organization     225 non-null object
Domain           150 non-null object
Training Date    214 non-null object
dtypes: object(7)
memory usage: 12.5+ KB

In [7]:
df.dtypes

City             object
State            object
Country          object
Region           object
Organization     object
Domain           object
Training Date    object
dtype: object

We notice that most of this makes sense except our training data column - which is labeled as an 'object.' For analyses I want to do, it would be better if these values were of the datetime type.

In [8]:
df['Training Date'] #showing this column

0        2/3/15
1        2/3/15
2        2/3/15
3        2/3/15
4        2/3/15
5        2/3/15
6        2/3/15
7      02/24/15
8       4/30/15
9       4/30/15
10      4/30/15
11      4/30/15
12      4/30/15
13      4/30/15
14      4/30/15
15      4/30/15
16      4/30/15
17      4/30/15
18      4/30/15
19      4/30/15
20       9/9/15
21       9/9/15
22      9/21/15
23      9/21/15
24      9/21/15
25      9/21/15
26      9/21/15
27      9/21/15
28     10/21/15
29       1/6/16
         ...
197    11/08/17
198    11/21/17
199    11/27/17
200    11/27/17
201    11/28/17
202     12/7/17
203    01/03/18
204    01/05/18
205    01/12/18
206    01/19/18
207    01/23/18
208         NaN
209    02/05/18
210    02/07/18
211    02/13/18
212    02/15/18
213    02/20/18
214    02/27/18
215       03/08
216    03/08/18
217     3/15/18
218    03/19/18
219    03/27/18
220         NaN
221    04/04/18
222    04/04/18
223    04/20/18
224    04/25/18
225    07/17/18
226    07/18/18
Name: Training Date, Length: 227, dtype: object

To change these values in the Training Date column to the 'datetime' type, Pandas has a convenient function to do so. In this case, I am using pd.to_datetime() and passing in my column.

In [9]:
df['Training Date'] = pd.to_datetime(df['Training Date'], errors='coerce')

In [10]:
df.dtypes

City                     object
State                    object
Country                  object
Region                   object
Organization             object
Domain                   object
Training Date    datetime64[ns]
dtype: object

In [11]:
df.head()

,City,State,Country,Region,Organization,Domain,Training Date
0,Bonn,NaN,Germany,Europe,MPI Collective Goods,Psychology,2015-02-03
1,Eindhoven,NaN,Netherlands,Europe,Eindhoven,Psychology,2015-02-03
2,Grenoble,NaN,France,Europe,Université Grenoble Alpes,Psychology,2015-02-03
3,Riverside,California,USA,North America,University of California - Riverside,Psychology,2015-02-03
4,Tacoma,Washington,USA,North America,Pacific Lutheran,Psychology,2015-02-03

Particularly in the State column, I would like to clean up NaN to be blank. International Ambassadors typically only have a City and Country listed, so removing NaN will make the sheet look cleaner. I made the decision to remove the NaN from all the columns except the Training Date.

In [12]:
fill_values = {'City': '', 'State': '', 'Country': '', 'Region': '', 'Organization': '', 'Domain': ''}

df.fillna(fill_values, inplace=True)

df.head()

,City,State,Country,Region,Organization,Domain,Training Date
0,Bonn,,Germany,Europe,MPI Collective Goods,Psychology,2015-02-03
1,Eindhoven,,Netherlands,Europe,Eindhoven,Psychology,2015-02-03
2,Grenoble,,France,Europe,Université Grenoble Alpes,Psychology,2015-02-03
3,Riverside,California,USA,North America,University of California - Riverside,Psychology,2015-02-03
4,Tacoma,Washington,USA,North America,Pacific Lutheran,Psychology,2015-02-03

Our Domain column looks neat and pretty when viewing the first 5 values. But, the data are actually a mess. Let's take a look. Particularly, I want to take a look at how many of the same values occur, so I am going to run the .value_counts() function on values in our Domain column.

In [13]:
df['Domain'].value_counts()

                                                                                                            77
Psychology                                                                                                  21
Libraries                                                                                                   18
Psych                                                                                                       13
Ecology                                                                                                      4
Libraries - OSF Institutions                                                                                 3
PHD student - Psychology                                                                                     2
Libraries                                                                                                    2
Cognitive Science                                                                                            2
Data Services Librarian                                                                                      2
Cognitive Psych and Cognitive Neuroscience                                                                   2
Brain Stimulation & Cognitive Neuroscience Lab Manager                                                       2
Research Data Librarian                                                                                      2
Clinical Psychology                                                                                          2
Econ                                                                                                         2
ECE                                                                                                          1
Personality Psychology                                                                                       1
PhD - second year                                                                                            1
Open Science Enthusiast                                                                                      1
Completed her PhD in Implicit Theory of mind. Started a post-doc                                             1
Digital Initiatives and Information Technology Librarian                                                     1
ecology                                                                                                      1
Communications                                                                                               1
Data Management Consultant                                                                                   1
Nutrition - NutriXiv                                                                                         1
QA/QC Officer; PhD from Cornell                                                                              1
Business Management                                                                                          1
psych/stats                                                                                                  1
Medical (MD student, cancer research)                                                                        1
Social & Evolutionary Psychology                                                                             1
                                                                                                            ..
Professor - teaching metascience course                                                                      1
Paleotology                                                                                                  1
Experimental Psychology                                                                                      1
PHD student - Nutrition/Psychology                                                                           1
1st PhD student - Psychology                                                                                 1
Director of Research Services                                                                                1
Microbiology & Immunology                                                                                    1
Graduate student - Personality Psychology                                                                    1
Psychology; Neuroscience; Human-Machine Interfaces                                                           1
Director of the Social Science Data Archive                                                                  1
Special Education                                                                                            1
Science Coordinator                                                                                          1
Professor - Psychology                                                                                       1
Assistant Professor of Marketing                                                                             1
business/psych                                                                                               1
Research Associate, getting PhD in decision making. Interested in preregistration and Registered Reports     1
Canada Research Chair in Behavioural Ecology                                                                 1
Health Sciences Libraries                                                                                    1
social-personality psychology                                                                                1
social psychology/social neuroscience                                                                        1
Management/Business                                                                                          1
Neuroscience                                                                                                 1
Cogntive neuroscience                                                                                        1
Library                                                                                                      1
Scholarly communication and digital scholarship                                                              1
Biological and Earth Sciences                                                                                1
Assistant Professor - Department of Human Development                                                        1
Anthropology                                                                                                 1
Associate University Librarian                                                                               1
biology                                                                                                      1
Name: Domain, Length: 88, dtype: int64

In [ ]:
df.Domain.replace(['Psych', 'Econ', 'Library'], ['Psychology', 'Economics', 'Libraries'], inplace=True)

In [ ]:
df.head(50)

I want to clean up the Domains column by putting unique disciplines into new columns. I first add all the values of the Domain column to a new list, called messy_domains.

In [14]:
messy_domains = df.Domain.values.tolist()
print(messy_domains[:10])

['Psychology', 'Psychology', 'Psychology', 'Psychology', 'Psychology', 'Econ', 'Econ', '', 'Psychology', 'business/psych']

In [25]:
import re

clean_domains = []
pattern = '[;|/|&|,]'

for i in messy_domains:
    result = re.split(pattern, i)
    clean_domains.append(result)

print('-----')
print(clean_domains[:7])

-----
[['Psychology'], ['Psychology'], ['Psychology'], ['Psychology'], ['Psychology'], ['Econ'], ['Econ']]

In [26]:
df['Clean Domains'] = clean_domains


df.head(30)

,City,State,Country,Region,Organization,Domain,Training Date,Clean Domains
0,Bonn,,Germany,Europe,MPI Collective Goods,Psychology,2015-02-03,[Psychology]
1,Eindhoven,,Netherlands,Europe,Eindhoven,Psychology,2015-02-03,[Psychology]
2,Grenoble,,France,Europe,Université Grenoble Alpes,Psychology,2015-02-03,[Psychology]
3,Riverside,California,USA,North America,University of California - Riverside,Psychology,2015-02-03,[Psychology]
4,Tacoma,Washington,USA,North America,Pacific Lutheran,Psychology,2015-02-03,[Psychology]
5,Philadelphia,Pennsylvania,USA,North America,Haverford College,Econ,2015-02-03,[Econ]
6,Berkeley,California,USA,North America,BITSS,Econ,2015-02-03,[Econ]
7,Cambridge,,England,United Kingdom,University of Cambridge,,2015-02-24,[]
8,Toronto,,Canada,North America,University of Toronto,Psychology,2015-04-30,[Psychology]
9,Quebec,,Canada,North America,McGill,business/psych,2015-04-30,"[business, psych]"
10,Ontario,,Canada,North America,Queens University,Library (engineering),2015-04-30,[Library (engineering)]
11,Munich,,Germany,Europe,Ludwig-Maximilians-Universität München,Psychology,2015-04-30,[Psychology]
12,Mexico City,,Mexico,South America,,,2015-04-30,[]
13,Stockholm,,Sweden,Europe,Stockholm University,Medical Sciences,2015-04-30,[Medical Sciences]
14,Charlotte,North Carolina,USA,North America,University of North Carolina- Charlotte,Management/Business,2015-04-30,"[Management, Business]"
15,Springfield,Missouri,USA,North America,Missouri State,psych/stats,2015-04-30,"[psych, stats]"
16,Philadelphia,Pennsylvania,USA,North America,Haverford College,Libraries,2015-04-30,[Libraries]
17,Gainesville,Florida,USA,North America,University of Florida,,2015-04-30,[]
18,Santa Barbara,California,USA,North America,National Center for Ecological Analysis and Sy...,Ecology,2015-04-30,[Ecology]
19,Charlottesville,Virginia,USA,North America,University of Virginia,Library,2015-04-30,[Library]
20,Juiz de Fora,,Brazil,South America,Federal University of Juiz de Fora,,2015-09-09,[]
21,Corvallis,Oregon,USA,North America,Oregon State University,Libraries,2015-09-09,[Libraries]
22,Mexico City,,Mexico,North America,National Autonomous University of Mexico,Applied Mathematics and Systems Research,2015-09-21,[Applied Mathematics and Systems Research]
23,Delft,,Netherlands,Europe,Delft University of Technology,Psychology,2015-09-21,[Psychology]
24,Arlington,Virignia,USA,North America,Center for Naval Analyses,Political Science / International Relations,2015-09-21,"[Political Science , International Relations]"
25,Santa Barbara,California,USA,North America,NCEAS,ecology,2015-09-21,[ecology]
26,San Diego,California,USA,North America,University of California - San Diego,molecular bio/ cell bio/ neuroscience,2015-09-21,"[molecular bio, cell bio, neuroscience]"
27,Allendale,Michigan,USA,North America,Grand Valley State University,Psychology,2015-09-21,[Psychology]
28,Minneapolis,Minnesota,USA,North America,University of Minnesota,,2015-10-21,[]
29,Portland,Oregon,USA,North America,OHSU,Neuroscience,2016-01-06,[Neuroscience]

In [27]:
df1= pd.DataFrame(df['Clean Domains'].values.tolist()).add_prefix('Domain ')

df1.head(30)

,Domain 0,Domain 1,Domain 2
0,Psychology,None,None
1,Psychology,None,None
2,Psychology,None,None
3,Psychology,None,None
4,Psychology,None,None
5,Econ,None,None
6,Econ,None,None
7,,None,None
8,Psychology,None,None
9,business,psych,None
10,Library (engineering),None,None
11,Psychology,None,None
12,,None,None
13,Medical Sciences,None,None
14,Management,Business,None
15,psych,stats,None
16,Libraries,None,None
17,,None,None
18,Ecology,None,None
19,Library,None,None
20,,None,None
21,Libraries,None,None
22,Applied Mathematics and Systems Research,None,None
23,Psychology,None,None
24,Political Science,International Relations,None
25,ecology,None,None
26,molecular bio,cell bio,neuroscience
27,Psychology,None,None
28,,None,None
29,Neuroscience,None,None

In [22]:
result = pd.concat([df, df1], axis=1)

result.head(30)

,City,State,Country,Region,Organization,Domain,Training Date,Clean Domains,Domain 0,Domain 1,Domain 2
0,Bonn,,Germany,Europe,MPI Collective Goods,Psychology,2015-02-03,[Psychology],Psychology,None,None
1,Eindhoven,,Netherlands,Europe,Eindhoven,Psychology,2015-02-03,[Psychology],Psychology,None,None
2,Grenoble,,France,Europe,Université Grenoble Alpes,Psychology,2015-02-03,[Psychology],Psychology,None,None
3,Riverside,California,USA,North America,University of California - Riverside,Psychology,2015-02-03,[Psychology],Psychology,None,None
4,Tacoma,Washington,USA,North America,Pacific Lutheran,Psychology,2015-02-03,[Psychology],Psychology,None,None
5,Philadelphia,Pennsylvania,USA,North America,Haverford College,Econ,2015-02-03,[Econ],Econ,None,None
6,Berkeley,California,USA,North America,BITSS,Econ,2015-02-03,[Econ],Econ,None,None
7,Cambridge,,England,United Kingdom,University of Cambridge,,2015-02-24,[],,None,None
8,Toronto,,Canada,North America,University of Toronto,Psychology,2015-04-30,[Psychology],Psychology,None,None
9,Quebec,,Canada,North America,McGill,business/psych,2015-04-30,"[business, psych]",business,psych,None
10,Ontario,,Canada,North America,Queens University,Library (engineering),2015-04-30,[Library (engineering)],Library (engineering),None,None
11,Munich,,Germany,Europe,Ludwig-Maximilians-Universität München,Psychology,2015-04-30,[Psychology],Psychology,None,None
12,Mexico City,,Mexico,South America,,,2015-04-30,[],,None,None
13,Stockholm,,Sweden,Europe,Stockholm University,Medical Sciences,2015-04-30,[Medical Sciences],Medical Sciences,None,None
14,Charlotte,North Carolina,USA,North America,University of North Carolina- Charlotte,Management/Business,2015-04-30,"[Management, Business]",Management,Business,None
15,Springfield,Missouri,USA,North America,Missouri State,psych/stats,2015-04-30,"[psych, stats]",psych,stats,None
16,Philadelphia,Pennsylvania,USA,North America,Haverford College,Libraries,2015-04-30,[Libraries],Libraries,None,None
17,Gainesville,Florida,USA,North America,University of Florida,,2015-04-30,[],,None,None
18,Santa Barbara,California,USA,North America,National Center for Ecological Analysis and Sy...,Ecology,2015-04-30,[Ecology],Ecology,None,None
19,Charlottesville,Virginia,USA,North America,University of Virginia,Library,2015-04-30,[Library],Library,None,None
20,Juiz de Fora,,Brazil,South America,Federal University of Juiz de Fora,,2015-09-09,[],,None,None
21,Corvallis,Oregon,USA,North America,Oregon State University,Libraries,2015-09-09,[Libraries],Libraries,None,None
22,Mexico City,,Mexico,North America,National Autonomous University of Mexico,Applied Mathematics and Systems Research,2015-09-21,[Applied Mathematics and Systems Research],Applied Mathematics and Systems Research,None,None
23,Delft,,Netherlands,Europe,Delft University of Technology,Psychology,2015-09-21,[Psychology],Psychology,None,None
24,Arlington,Virignia,USA,North America,Center for Naval Analyses,Political Science / International Relations,2015-09-21,"[Political Science , International Relations]",Political Science,International Relations,None
25,Santa Barbara,California,USA,North America,NCEAS,ecology,2015-09-21,[ecology],ecology,None,None
26,San Diego,California,USA,North America,University of California - San Diego,molecular bio/ cell bio/ neuroscience,2015-09-21,"[molecular bio, cell bio, neuroscience]",molecular bio,cell bio,neuroscience
27,Allendale,Michigan,USA,North America,Grand Valley State University,Psychology,2015-09-21,[Psychology],Psychology,None,None
28,Minneapolis,Minnesota,USA,North America,University of Minnesota,,2015-10-21,[],,None,None
29,Portland,Oregon,USA,North America,OHSU,Neuroscience,2016-01-06,[Neuroscience],Neuroscience,None,None

In [ ]:







#let's read our file 
df = pd.read_csv('ambassadors_list.csv')

#drop unecessary columns that I don't need
df.drop(['First Name', 'Last Name', 'Email', 'Mailing Address', 'Prereg Challenge', 'ambassador training date'], axis=1, inplace=True)

#replace cells containing 'NaN' with a blank string (it looks prettier)
df = df.fillna('')

#add column labeled Full Address which combines City, State, and Country
#use numpy conditional statement to account for 'blank' State cells
df['Full Address'] = np.where(df['State'] == '', df['City'] + ', ' + df['Country'], df['City'] + ', ' + df['State'] + ', ' + df['Country'])

#Ignore the code below. If you decide not to do conditional statement, you can use this code instead. The above code looks a bit cleaner, but this also works fine. 
#df['Full Address'] = df['City'] + ', ' + df['State'] + ', ' + df['Country']


#let's see what our data look like 
df.head()

In [ ]:
#make a list out of the Full Address column. This list will be used when we geocode Ambassador locations
dfToList = df['Full Address'].tolist()

### Let's Do Geocoding! 
My original csv file of Ambassador data lists their location in 'city', 'state', 'country' form. In order to plot points on a map, having the coordinates (latitude and longitude) of each location is important.

In [ ]:
with open('google_credentials.json') as creds:
    google_credentials = json.load(creds)

In [ ]:
from geopy import geocoders
g = geocoders.GoogleV3(google_credentials['api_key']) #you need a GoogleV3 API key

#create empty lists for latitude and longitude
lats = []
lons = []
   
for i in dfToList:
    location = g.geocode(i, timeout=10)
    lats.append(location.latitude)
    lons.append(location.longitude)

In [ ]:
#add longitudes and latitudes to my table 
df['Longitude'] = lons
df['Latitude'] = lats

#change order of columns (because I am perfectionist and want things in a certain order)
df = df[['City', 'State', 'Country', 'Full Address', 'Longitude', 'Latitude', 'Region', 'Institution/Organization', 'Domain']]

#save table to new CSV file and remove the Index from CSV file (you don't have to do this step)
df.to_csv('ambassadors_list_shortened.csv', index=False)

#let's see what our data look like
df.head()

## Let's Make Maps!

In [ ]:
#make the figure bigger
plt.figure(figsize=(16,12))

#set up map details
my_map = Basemap(projection='robin', lat_0=0, lon_0=0,
              resolution='l', area_thresh=1000.0)

#draws continents and coastlines
my_map.drawcoastlines()
#draws countries
my_map.drawcountries()
#fills in continents with color
my_map.fillcontinents(color='lightgray',lake_color='lightblue')
#cleans up map boundary and fills the ocean color
my_map.drawmapboundary(fill_color='lightblue')
#sets x to be longitude and y to be latitude
x,y = my_map(lons, lats)
#plots lat & lon 
my_map.plot(x, y, 'ro', markersize=5)


font_title = {'family': 'sans-serif',
        'color':  'darkred',
        'weight': 'normal',
        'size': 22,
        }

font_footer = {'family': 'sans-serif',
        'color':  'gray',
        'weight': 'italic',
        'size': 12,
        }

plt.title("COS Ambassador Locations", fontdict=font_title)
plt.figtext(0.3,0.21, "Over 220 COS Ambassadors are represented on this map. One dot corresponds to one Ambassador.")
plt.savefig('ambassador_locations.png')
plt.show()

In [ ]:
#make the figure bigger
plt.figure(figsize=(16,12))

#setting up map details like type of map (aka 'projection')
my_map = Basemap(projection='cyl', llcrnrlat=-75,urcrnrlat=75,
            llcrnrlon=-180, urcrnrlon=180, resolution='c', area_thresh=1000.0)

#draws continents and coastlines
my_map.drawcoastlines()
#draws countries
my_map.drawcountries()
#fills in continents with color
my_map.fillcontinents(color='lightgray',lake_color='lightblue')
#cleans up map boundary and fills the ocean color
my_map.drawmapboundary(fill_color='lightblue')
#sets x to be longitude and y to be latitude
x,y = my_map(lons, lats)
#plots lat & lon 
my_map.plot(x, y, 'ro', markersize=5)

plt.show()

### Part 2: Let's Make an Interactive Map!

In [ ]:
import folium

In [ ]:
#remember that CSV we saved earlier? I want to use it here. 
df = pd.read_csv('ambassadors_list_shortened.csv')

#let's see what our data look like
df.head()

In [ ]:
#for the interactive map I want to create, I need three pieces of info: latitude, longitude, and address
#I create lists for latitude, longitude, and address
lat = list(df['Latitude'])
lon = list(df['Longitude'])
location = list(df['Full Address'])

#printed the first entry in my dataset to make sure it is what I anticipated
print(location[0])
print(lon[0])
print(lat[0])

In [ ]:
map = folium.Map(location=[0,0], #latitude and longitude of where my map is centered when it loads on the screen
    tiles='CartoDB positron', #type of map projection
    zoom_start=1.5, #bigger zoom number, the closer in it will be 
    max_zoom=10)


for lat, lon, location in zip(lat, lon, location):
    folium.CircleMarker(location=[lat, lon], 
                       radius = 2,
                       color = 'blue',
                       popup = location).add_to(map)

In [ ]:
#save our map as an html file 
map.save("ambassador_locations_map.html")

#let's see what our map looks like.
map